extends ./layout.jade

block content
  div.jumbotron
    h1 #{$in.fullname}
    div.row#interests
      mixin col(id, title)
        div(class="col-md-3 col-sm-6", id=id)
          h3!= title

      +col("programming", "<span>" + $in.programming + "</span>")
      +col("design", $in.design)
      +col("film", $in.film)
      +col("animation",
           $in.animation + " <small>" + $in.animationSecondary + "</small>")

  div(class="row text-center")#works
    h2= $in.works
    mixin col(link, icon, title)
      div(class="col-md-3 col-sm-6")
        a.thumbnail(href=link + ".html")
          - iconClass = ["fa", "fa-" + icon]
          i(class=iconClass)
          p= title
    +col("videos", "film", $in.videos)
    +col("sketches", "pencil", $in.sketches)
    +col("games", "gamepad", $in.games)
    +col("drawings", "photo", $in.drawings)
