extends ./layout.jade

block nav_vars
    - var page = "sketches"

block content
    h1.text-center= $in.sketches

    div#size-check.hidden-xs

    div#sketch-grid.free-wall
        mixin brick(name, size)
            - size = size || "Small";
            div.brick
                img(id=name, src="../assets/sketches/" + name + size + ".jpg")

        +brick("DadDrinking")
        //- +brick("BottleHolder")
        +brick("BurlesqueGirl")
        +brick("AirConditionairRemote")
        +brick("GuyWithHatUsingComputer")
        //- +brick("NakedWomanPointing")
        +brick("SoniaCouch")
        +brick("WomanCoolPoseArmsDown")
        +brick("WomanHoldingHandUp")
        //- +brick("WomanHoldingVase")
        +brick("FatManFace")
        +brick("WristWatch")
        +brick("WomanYogaSit")
        +brick("SharpSuitJumping")
        +brick("WomanStandingArmsUp")
        +brick("WomanSittingStrechingHandsForward")
        +brick("WomanSittingLegsCrossed")
        +brick("WomanInHammock")
        //- +brick("WomanBalancingOnChair")

    div(class="modal fade hidden-xs",
        id="sketchModal",
        tabindex="-1",
        role="dialog",
        //- aria-labelledby="videoModalLabel",
        aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-body
                    img.img-responsive.center-block

block pageJs
    script.
        $(function () {
            function createWall() {
                var wall = new freewall("#sketch-grid")
                wall.reset({
                    selector: ".brick",
                    animate: true,
                    onResize: function () {
                        wall.fitWidth();
                    },
                    cellW: function (width) {
                        var cellWidth = width / 3;
                        return cellWidth - 20;
                    },
                    cellH: "auto",
                })

                var images = wall.container.find(".brick");
                images.find('img').load(function () {
                    console.log("image: " + this.src + "was loaded");
                    wall.fitWidth();
                });
                return wall;
            }

            createWall();
            var sizeCheck = $("#size-check");
            $("#sketch-grid img").click(function (event) {
                var modal = $("#sketchModal");
                var imageURL = this.src.replace("Small", "Medium");
                if (sizeCheck.is(":visible")) {
                    modal.find(".modal-body > img").attr("src", imageURL);
                    modal.modal();
                }
            });
        });
