extends ./layout.jade

block content
  h1= $in.videos
  mixin videoRow(posterImg, title, description, id)
    div.row
      div(class=["col-md-3", "col-sm-5", "col-xs-12"])
        img(src="../assets/poster-" + posterImg + ".jpg",
            class="thumbnail img-responsive center-block")
      div(class=["col-md-9", "col-sm-7", "col-xs-12"])
        h2= title
        p= description
        div.row
          div(class=["col-xs-12", "col-sm-1"])
            button(class=["btn", "btn-default", "btn-primary", "center-block"],
                   data-toggle="modal",
                   data-target="#videoModal",
                   data-rel=id)
              = " " + $in.watch + " "
    hr.visible-xs-block

  +videoRow("screening_trailer_v2",
            $in._videos.screeningTrailer.title,
            $in._videos.screeningTrailer.description,
            "OkD6_Rf9LGw")
  +videoRow("western_gate_v2",
            $in._videos.westernGate.title,
            $in._videos.westernGate.description,
            "tCy77w1IBXI")
  +videoRow("good_neighbors_v2",
            $in._videos.goodNeighbors.title,
            $in._videos.goodNeighbors.description,
            "E5VxobrYFdU")
  +videoRow("four_angles_v2",
            $in._videos.fourAngles.title,
            $in._videos.fourAngles.description,
            "mao6P8tHPbE")
  +videoRow("dont_pirate_v2",
            $in._videos.dontPirate.title,
            $in._videos.dontPirate.description,
            "X6YX6wzi9A4")

  div(class="modal fade",
      id="videoModal",
      tabindex="-1",
      role="dialog",
      aria-labelledby="videoModalLabel",
      aria-hidden="true")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",
                       data-dismiss="modal",
                       aria-label="Close")
            span(aria-hidden="true")
              &times;
          h4.modal-title#videoModalLabel
        div.modal-body
          div(class="embed-responsive embed-responsive-16by9")
            iframe(class="embed-responsive-item",
                   src="http://www.youtube.com/embed/E5VxobrYFdU",
                   allowfullscreen)


block pageJs
  script.
    $(function () {
      $("#videoModal").on("show.bs.modal", function (event) {
      });
      var modal = $("#videoModal")
      var modalEmbed = modal.find("div.embed-responsive")
      var modalFrame = modal.find("iframe");
      var modalTitle = modal.find("h4.modal-title");
      var urlStart = "http://www.youtube.com/embed/";
      var urlEnd = "?showinfo=0";
      modal.on("show.bs.modal", function (event) {
        var button = $(event.relatedTarget);
        var videoId = button.data('rel');
        var videoName = button.parent().parent().parent().find("h2").text();
        modalFrame.remove();
        modalFrame.attr("src", urlStart + videoId + urlEnd);
        modalEmbed.append(modalFrame);
        modalTitle.text(videoName);
      });
      modal.on("hide.bs.modal", function (event) {
        console.log("stopping video");
        modalFrame.remove();
      });
    });
